*{
    margin: 0;
    padding: 0;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Inter",sans-serif;
}
.cabecalho-imagem{
    width: 7%;
    display: flex;
    align-items: center;
}

header {
    display: flex;
    width: 100%;
    height: 90px;
    background: #0a0a0a;
}

header .container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 0 2em;
}

header .container-header nav {
    display: flex;
    list-style-type: none;
}

header .container-header nav li a {
    font-weight: 400;
    color: #5826e0;
    text-decoration: none;
    margin-left: 15px;
    padding: 0.8rem;
}

header .container-header nav li a.active:hover {
    color: #6810da;
            background-color: #fff; 
            transition: 0.5s;
            opacity: 0.5;
}

header .container-header nav li a.active {
    font-weight: 600;
    text-decoration: none;
    margin-left: 15px;
}

header .container-header .search-container input {
    background: #504650;
    border: 0;
    padding: 7px 10px;
    border-radius: 7px;
    width: 200px;
    outline: 0;
    color: #fff;
}

header .container-header .search-container input::placeholder {
    color: #fff;
}
  
  header .container-header .search-container {
    display: flex;
}
  
  header .container-header .search-container button {
    background: #504650;
    color: #eee8e8;
    border: 0;
    border-radius: 5px;
    padding: 7px 15px;
    margin-left: 10px;
    cursor: pointer;
    outline: 0;
}

header .container-header .mobile-menu {
    display: none;
}
  
  header .container-header .mobile-menu img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
  
  @media (max-width: 768px) {
    header .container-header .search-container {
      display: none;
    }
    
    header .container-header nav {
      display: none;
    }
    
     header .container-header .mobile-menu {
      display: block;
    }
}

#banner {
    width: 100%;
}

.principal {
    background: #413641;
    padding: 35px;
}

.titulo-principal {
    padding-left: 100px;
}

.titulo-centralizado {
    text-align: center;
    font-size: 25px;
}

p {
    text-align: center;
}

#missao {
    font-size: 20px;
}

strong {
    color: #413641;
}

.itens {
    font-style: italic;
    padding: 15px;
}

.beneficios {
    background: #665959;
    padding: 60px;
}

ul {
    display: list-item;
    vertical-align: top;
    width: 15%;
    max-width: 15%;
}

.imagembeneficios {
    width: 36%;
    position: relative;
}

.noivo {
    background-color: #413641;
}
.imagemnoivo {
    width: 40%;
}

.tftable {
    align-self: start;
}
<style type="text/css"> 
table.tftable {font-size:12px;color:#333333;width:100%;border-width: 1px;border-color: #a9a9a9;border-collapse: collapse;}
table.tftable th {font-size:12px;background-color:#665959;border-width: 1px;padding: 8px;border-style: solid;border-color: #0a0a0a33;text-align:left;}
table.tftable tr {background-color:#978383;}
table.tftable td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #030303;}
</style>

.rodape{
    background-color: #413641;
    color: #070707;
    text-align: center;
    padding: 40px 0;
}




